# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: Fallen Sakura
subtitle: 'Personal Homepage'
description: 'Miracle, a word outside my days.'
keywords: blog
author: fallensakura715
language:
  - en
  - zh-CN
timezone: 'Asia/Shanghai'

# URL
## Set your site url here. For example, if you use GitHub Page, set url as 'https://username.github.io/project'
url: https://fallensakura715.github.io/
root: /
permalink: :year/:day/:title/
permalink_defaults:
pretty_urls:
  trailing_index: true # Set to false to remove trailing 'index.html' from permalinks
  trailing_html: true # Set to false to remove trailing '.html' from permalinks

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render:

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link:
  enable: true # Open external links in new tab
  field: site # Apply to the whole site
  exclude: ''
filename_case: 0
render_drafts: false
post_asset_folder: true
relative_link: false
future: true
syntax_highlighter: highlight.js
highlight:
  line_number: true
  auto_detect: false
  tab_replace: ''
  wrap: true
  hljs: false
prismjs:
  preprocess: true
  line_number: true
  tab_replace: ''

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Metadata elements
## https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta
meta_generator: true

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss
## updated_option supports 'mtime', 'date', 'empty'
updated_option: 'mtime'

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Include / Exclude file(s)
## include:/exclude: options only apply to the 'source/' folder
include:
exclude:
ignore:

# Extensions
## Plugins: https://hexo.io/plugins/
## Themes: https://hexo.io/themes/
theme: butterfly

# Deployment
## Docs: https://hexo.io/docs/one-command-deployment
deploy:
  type: git
  repository: https://github.com/fallensakura715/fallensakura715.github.io.git
  branch: main

# i18n
i18n:
  type: [page, post]
  generator: [archive, category, tag, index]

# HexoPlusPlus Talk
# see https://hexoplusplus.js.org
hpptalk:
  enable: true 
  domain: hpp.falnsakura.top
  path: https://avatars.githubusercontent.com/u/172838098
  limit:
  start:
  js:
  css:
  option:
  front_matter:

aplayer:
  # Public 目录下脚本目录路径，默认: 'assets/js'
  script_dir: 
  # Public 目录下样式目录路径，默认: 'assets/css'             
  style_dir: 
  # 引用 APlayer.js 外部 CDN 地址 (默认不开启)                 
  cdn: 
  # 引用 APlayer.css 外部 CDN 地址 (默认不开启)          
  style_cdn: 
  # MetingJS 支持
  meting: true
  # 自定义 Meting API 地址                    
  meting_api: 
  # 引用 Meting.js 外部 CDN 地址 (默认不开启)   
  meting_cdn: 
  # 自动插入 Aplayer.js 与 Meting.js 资源脚本, 默认开启 
  asset_inject: false      
  # 老版本参数，功能与参数 cdn 相同               
  externalLink:   

# Hexo Github Calendar
# 插件文档: https://github.com/Barry-Flynn/hexo-github-calendar
githubcalendar:
  enable: true
  enable_page: /       # 生效页面，/ 代表主页
  user: fallensakura715  # 【这里改成你的 GitHub 用户名】
  theme: git           # 主题风格，默认 git
  layout:
    type: id
    name: recent-posts # 挂载容器的 div 名称
    index: 0           # 挂载在第几个容器（0代表最上面）
  githubcalendar_html: '<div class="recent-post-item" style="width:100%;height:auto;padding:10px;"><div id="github_loading" style="width:10%;height:100%;margin:0 auto;display: block"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50" xml:space="preserve"><path fill="#d0d0d0" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z" transform="rotate(275.098 25 25)"><animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="0.6s" repeatCount="indefinite"></animateTransform></path></svg></div><div id="github_container"></div></div>'
  pc_minheight: 280px    # 电脑端最小高度，防止加载时抖动
  mobile_minheight: 0px  # 手机端最小高度
  color: "['#eff2f5', '#aceebb', '#4ac26b', '#2da44e', '#116329']" # 经典的 GitHub 绿色系
  api: https://github-contrib.falnsakura.top/ # 公共 API
  # calendar_js: https://cdn.jsdelivr.net/gh/barry-flynn/hexo-github-calendar/hexo_githubcalendar.js # 官方 JS CDN
  # 建议将上面的 calendar_js 注释掉，使用下面的本地路径（见第三步）
  calendar_js: /js/hexo_githubcalendar.js